<h1>Sign up</h1>

<form action="/signup/new" method="POST">
    <label>
        Email:
        <input type="text" name="username"/>
    </label>
    <label>
        Password:
        <input type="password" name="password"/>
    </label>
    <button>Je m'inscris!</button>
</form>